---
layout: base
---

<article class="post">

  <div class="post-content">
    {{ content }}
  </div>

</article>

<script>
  let maxWidth = '{{ page.max-width }}';
  let pageData = {
    owner:  '{{site.github.owner_name}}',
    repo:   '{{site.github.repository_name}}',
    branch: '{{site.github.source.branch}}',
    path:   '{{ page.path }}'
  }
  console.log(pageData)
  document.querySelectorAll('img').forEach((img) => {
    let src = new URL(img.src)
    console.log(src)
    if (location.origin !== src.origin) return
    let name = src.pathname.split('/').pop()
    if (['favicon.ico', 'favicon.png', 'favicon.svg'].includes(name)) return
    img.src = `https://raw.githubusercontent.com/${pageData.owner}/${pageData.repo}/main/${pageData.path.replace(/\/index.md/,'')}/${name}`
    console.log(img.src)
  });
  document.querySelectorAll('a[href^="http"]').forEach(link => {
    if (link.hostname !== window.location.hostname) {
      link.setAttribute('target', '_blank');
      link.setAttribute('rel', 'noopener');
    }
  });
</script>